In [ ]:
import pandas as pd

3.1 Dataset : 'titanic.csv'

In [ ]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Concept&Tech-AI/Titanic-Dataset.csv")

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Problem 1 : Sorting

In [ ]:
# 1
fare = df['Fare']
print("DataFrame with Fare column only: ")
print(fare.head())

DataFrame with Fare column only:
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [ ]:
# 2
class_age = df[['Age', 'Pclass']]
print("DataFrame containing Pclass and Fare column: ")
print(class_age.head())

DataFrame containing Pclass and Fare column:
    Age  Pclass
0  22.0       3
1  38.0       1
2  26.0       3
3  35.0       1
4  35.0       3

In [ ]:
# 3
survived_gander = df[['Survived', 'Sex']]
print("DataFrame containing Survived and Sex column: ")
print(survived_gander.head())

DataFrame containing Survived and Sex column:
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

Problem 2.1 : Subsetting Rows

In [ ]:
# 1
fare_gt_100 = df[df['Fare'] > 100]
print("Filtered dataset with fare > 100")
print(fare_gt_100.head())

     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C

In [ ]:
# 2
first_class = df[df['Pclass'] == 1]
print("Filtered dataset with Pclass = 1")
print(first_class.head())

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S

In [ ]:
# 3
female_under_18 = df[(df['Age'] < 18) & (df['Sex'] == 'Female')]
print("Filtered dataset with Age < 18 and Sex = Female")
print(female_under_18.head())

Filtered dataset with Age < 18 and Sex = Female
Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

Problem 2.2 : Subsetting Rows by Categorical Variables

In [ ]:
# 1

embarked_c_or_s = df[df['Embarked'].isin(['C', 'S'])]
print("Filtered dataset with Embarked = C or Embarked = S: ")
print(embarked_c_or_s.head())

Filtered dataset with Embarked = C or Embarked = S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [ ]:
# 2
first_second_class = df[df['Pclass'].isin(['1', '2'])]
print("Filtered dataset with Pclass = 1 or Pclass = 2: ")
print(first_second_class.head())

Filtered dataset with Pclass = 1 or Pclass = 2:
Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked]
Index: []

In [ ]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Concept&Tech-AI/Titanic-Dataset.csv")

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Problem 3.2 : Exploratory Data Analysis Practice Exercise - 1

In [ ]:
# Missing values in the Age column by filling them with the median age of the dataset

median_age = df["Age"].median()

# Step 2: Fill missing values in the "Age" column with the median
df["Age"] = df["Age"].fillna(median_age)

# Step 3: Perform division (e.g., divide all age values by 2)
df["Age"] = df["Age"] / 2

# Display the updated DataFrame
print("Updated DataFrame by filling Age column with the median age of dataset:")
print(df)

Updated DataFrame by filling Age column with the median age of dataset:
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  5.50      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  9.50      1
2                               Heikkinen, Miss. Laina  female  6.50      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  8.75      1
4                             Allen, Mr. William Henry    male  8.75      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  6.75      0
887                       Graham, Miss. Margaret Edith  female  4.75      0
888           Johnston, Miss. Catherine Helen "Carrie"  female  7.00      1
889                              Behr, Mr. Karl Howell    male  6.50      0
890                                Dooley, Mr. Patrick    male  8.00      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [ ]:
# 1 : Add a column 'Fare per year' (Fare/Age)

# fare_per_year = df["Fare"]/(df["Age"])
# print(fare_per_year)

df['Fare per year'] = df['Fare'] / df['Age']
print("Updated DataFrame with new column 'Fare per year': ")
df

Updated DataFrame with new column 'Fare per year':

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare per year
0,1,0,3,"Braund, Mr. Owen Harris",male,5.50,1,0,A/5 21171,7.2500,NaN,S,1.318182
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,9.50,1,0,PC 17599,71.2833,C85,C,7.503505
2,3,1,3,"Heikkinen, Miss. Laina",female,6.50,0,0,STON/O2. 3101282,7.9250,NaN,S,1.219231
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,8.75,1,0,113803,53.1000,C123,S,6.068571
4,5,0,3,"Allen, Mr. William Henry",male,8.75,0,0,373450,8.0500,NaN,S,0.920000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,6.75,0,0,211536,13.0000,NaN,S,1.925926
887,888,1,1,"Graham, Miss. Margaret Edith",female,4.75,0,0,112053,30.0000,B42,S,6.315789
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,7.00,1,2,W./C. 6607,23.4500,NaN,S,3.350000
889,890,1,1,"Behr, Mr. Karl Howell",male,6.50,0,0,111369,30.0000,C148,C,4.615385
890,891,0,3,"Dooley, Mr. Patrick",male,8.00,0,0,370376,7.7500,NaN,Q,0.968750

In [ ]:
# 2 : Subset rows with fare-per-year higher than 5

high_fare_age = df.loc[df['Fare per year'] > 5]
print("\nSubset with fare-per-year higher than 5: \n", high_fare_age)

Subset with fare-per-year higher than 5:
      PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
7              8         0       3
9             10         1       2
10            11         1       3
..           ...       ...     ...
863          864         0       3
867          868         0       1
869          870         1       3
879          880         1       1
887          888         1       1

                                                  Name     Sex    Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female   9.50      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female   8.75      1
7                       Palsson, Master. Gosta Leonard    male   0.50      3
9                  Nasser, Mrs. Nicholas (Adele Achem)  female   3.50      1
10                     Sandstrom, Miss. Marguerite Rut  female   1.00      1
..                                                 ...     ...    ...    ...
863                  Sage, Miss. Dorothy Edith "Dolly"  female   7.00      8
867               Roebling, Mr. Washington Augustus II    male   7.75      0
869                    Johnson, Master. Harold Theodor    male   1.00      1
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  14.00      0
887                       Graham, Miss. Margaret Edith  female   4.75      0

     Parch    Ticket     Fare Cabin Embarked  Fare per year
1        0  PC 17599  71.2833   C85        C       7.503505
3        0    113803  53.1000  C123        S       6.068571
7        1    349909  21.0750   NaN        S      42.150000
9        0    237736  30.0708   NaN        C       8.591657
10       1   PP 9549  16.7000    G6        S      16.700000
..     ...       ...      ...   ...      ...            ...
863      2  CA. 2343  69.5500   NaN        S       9.935714
867      0  PC 17590  50.4958   A24        S       6.515587
869      1    347742  11.1333   NaN        S      11.133300
879      1     11767  83.1583   C50        C       5.939879
887      0    112053  30.0000   B42        S       6.315789

[239 rows x 13 columns]

In [ ]:
# 3 : Sort high_fare_age by descending fare_per_year

high_fare_age_srt = df.sort_values(by = 'Fare per year', ascending=False)
print("\nSorting high-fare-age by descending fare-per-year: \n", high_fare_age_srt)

Sorting high-fare-age by descending fare-per-year:
      PassengerId  Survived  Pclass                             Name     Sex  \
305          306         1       1   Allison, Master. Hudson Trevor    male
297          298         0       1     Allison, Miss. Helen Loraine  female
386          387         0       3  Goodwin, Master. Sidney Leonard    male
164          165         0       3     Panula, Master. Eino Viljami    male
183          184         1       2        Becker, Master. Richard F    male
..           ...       ...     ...                              ...     ...
179          180         0       3              Leonard, Mr. Lionel    male
822          823         0       1  Reuchlin, Jonkheer. John George    male
263          264         0       1            Harrison, Mr. William    male
815          816         0       1                 Fry, Mr. Richard    male
806          807         0       1           Andrews, Mr. Thomas Jr    male

       Age  SibSp  Parch   Ticket      Fare    Cabin Embarked  Fare per year
305   0.23      1      2   113781  151.5500  C22 C26        S     658.913043
297   0.50      1      2   113781  151.5500  C22 C26        S     303.100000
386   0.25      5      2  CA 2144   46.9000      NaN        S     187.600000
164   0.25      4      1  3101295   39.6875      NaN        S     158.750000
183   0.25      2      1   230136   39.0000       F4        S     156.000000
..     ...    ...    ...      ...       ...      ...      ...            ...
179   9.00      0      0     LINE    0.0000      NaN        S       0.000000
822   9.50      0      0    19972    0.0000      NaN        S       0.000000
263  10.00      0      0   112059    0.0000      B94        S       0.000000
815   7.00      0      0   112058    0.0000     B102        S       0.000000
806   9.75      0      0   112050    0.0000      A36        S       0.000000

[891 rows x 13 columns]

In [ ]:
# 4 : Select only the Name and fare_per_year columns of high_fare_age_srt

result = df[['Name','Fare per year']]
print("\nSelected Name and fare_per_year columns of high_fare_age_srt: \n", result)

Selected Name and fare_per_year columns of high_fare_age_srt:
                                                   Name  Fare per year
0                              Braund, Mr. Owen Harris       1.318182
1    Cumings, Mrs. John Bradley (Florence Briggs Th...       7.503505
2                               Heikkinen, Miss. Laina       1.219231
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)       6.068571
4                             Allen, Mr. William Henry       0.920000
..                                                 ...            ...
886                              Montvila, Rev. Juozas       1.925926
887                       Graham, Miss. Margaret Edith       6.315789
888           Johnston, Miss. Catherine Helen "Carrie"       3.350000
889                              Behr, Mr. Karl Howell       4.615385
890                                Dooley, Mr. Patrick       0.968750

[891 rows x 2 columns]

In [ ]:
# 5

result.head()

                                                Name  Fare per year
0                            Braund, Mr. Owen Harris       1.318182
1  Cumings, Mrs. John Bradley (Florence Briggs Th...       7.503505
2                             Heikkinen, Miss. Laina       1.219231
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)       6.068571
4                           Allen, Mr. William Henry       0.920000

In [ ]:
# 1 : Add a new column 'Fare per class' (Fare/Pclass)

df['Fare per class'] = df['Fare'] / df['Pclass']
print("Updated DataFrame with new column 'Fare per year': ")
df

Updated DataFrame with new column 'Fare per year':

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare per year,Fare per class
0,1,0,3,"Braund, Mr. Owen Harris",male,5.50,1,0,A/5 21171,7.2500,NaN,S,1.318182,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,9.50,1,0,PC 17599,71.2833,C85,C,7.503505,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,6.50,0,0,STON/O2. 3101282,7.9250,NaN,S,1.219231,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,8.75,1,0,113803,53.1000,C123,S,6.068571,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,8.75,0,0,373450,8.0500,NaN,S,0.920000,2.683333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,6.75,0,0,211536,13.0000,NaN,S,1.925926,6.500000
887,888,1,1,"Graham, Miss. Margaret Edith",female,4.75,0,0,112053,30.0000,B42,S,6.315789,30.000000
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,7.00,1,2,W./C. 6607,23.4500,NaN,S,3.350000,7.816667
889,890,1,1,"Behr, Mr. Karl Howell",male,6.50,0,0,111369,30.0000,C148,C,4.615385,30.000000
890,891,0,3,"Dooley, Mr. Patrick",male,8.00,0,0,370376,7.7500,NaN,Q,0.968750,2.583333

In [ ]:
# 2 : Subset rows where Passenger is Male and an Adult >= 18

adult_males = df.loc[(df['Sex'] == 'Male') & (df['Age'] >= 18)]
print("\nSubset using loc: \n", adult_males)

Subset using loc:
 Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, Fare per year, Fare per class]
Index: []

In [ ]:
# 3 : Sort adult males by descending fare per class

adult_males_srt = df.sort_values(by = 'Fare per class', ascending=False)
print("\nSorting adult males by descending fare per class: \n", adult_males_srt)

Sorting adult males by descending fare per class:
      PassengerId  Survived  Pclass                                Name  \
258          259         1       1                    Ward, Miss. Anna
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez
737          738         1       1              Lesurer, Mr. Gustave J
88            89         1       1          Fortune, Miss. Mabel Helen
438          439         0       1                   Fortune, Mr. Mark
..           ...       ...     ...                                 ...
271          272         1       3        Tornquist, Mr. William Henry
263          264         0       1               Harrison, Mr. William
597          598         0       3                 Johnson, Mr. Alfred
633          634         0       1       Parr, Mr. William Henry Marsh
674          675         0       2          Watson, Mr. Ennis Hastings

        Sex    Age  SibSp  Parch    Ticket      Fare        Cabin Embarked  \
258  female   8.75      0      0  PC 17755  512.3292          NaN        C
679    male   9.00      0      1  PC 17755  512.3292  B51 B53 B55        C
737    male   8.75      0      0  PC 17755  512.3292         B101        C
88   female   5.75      3      2     19950  263.0000  C23 C25 C27        S
438    male  16.00      1      4     19950  263.0000  C23 C25 C27        S
..      ...    ...    ...    ...       ...       ...          ...      ...
271    male   6.25      0      0      LINE    0.0000          NaN        S
263    male  10.00      0      0    112059    0.0000          B94        S
597    male  12.25      0      0      LINE    0.0000          NaN        S
633    male   7.00      0      0    112052    0.0000          NaN        S
674    male   7.00      0      0    239856    0.0000          NaN        S

     Fare per year  Fare per class
258      58.551909        512.3292
679      56.925467        512.3292
737      58.551909        512.3292
88       45.739130        263.0000
438      16.437500        263.0000
..             ...             ...
271       0.000000          0.0000
263       0.000000          0.0000
597       0.000000          0.0000
633       0.000000          0.0000
674       0.000000          0.0000

[891 rows x 14 columns]

In [ ]:
# 4 : Select Name, Age and Fare per year column

result = df[['Name', 'Age', 'Fare per year']]
print("\nSelected Name, Age and fare_per_year columns: \n", result)

Selected Name, Age and fare_per_year columns:
                                                   Name   Age  Fare per year
0                              Braund, Mr. Owen Harris  5.50       1.318182
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  9.50       7.503505
2                               Heikkinen, Miss. Laina  6.50       1.219231
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  8.75       6.068571
4                             Allen, Mr. William Henry  8.75       0.920000
..                                                 ...   ...            ...
886                              Montvila, Rev. Juozas  6.75       1.925926
887                       Graham, Miss. Margaret Edith  4.75       6.315789
888           Johnston, Miss. Catherine Helen "Carrie"  7.00       3.350000
889                              Behr, Mr. Karl Howell  6.50       4.615385
890                                Dooley, Mr. Patrick  8.00       0.968750

[891 rows x 3 columns]

In [ ]:
# 5
result

                                                  Name   Age  Fare per year
0                              Braund, Mr. Owen Harris  5.50       1.318182
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  9.50       7.503505
2                               Heikkinen, Miss. Laina  6.50       1.219231
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  8.75       6.068571
4                             Allen, Mr. William Henry  8.75       0.920000
..                                                 ...   ...            ...
886                              Montvila, Rev. Juozas  6.75       1.925926
887                       Graham, Miss. Margaret Edith  4.75       6.315789
888           Johnston, Miss. Catherine Helen "Carrie"  7.00       3.350000
889                              Behr, Mr. Karl Howell  6.50       4.615385
890                                Dooley, Mr. Patrick  8.00       0.968750

[891 rows x 3 columns]

Problem 3.3 : Exploratory Data Analysis with Group-by Method Practice Exercise

In [ ]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Concept&Tech-AI/Titanic-Dataset.csv")

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

**What percent of the total fare revenue came from each passenger class?

In [ ]:
# 1 : Calculate Total Fare paid across all passengers

total_fare = df['Fare'].sum()
print("Total Fare: ", total_fare)

Total Fare:  28693.9493

In [ ]:
# 2 : Subset for passengers in first class (Pclass = 1) and calcuate their total fare

first_class_fare = df.loc[df['Pclass'] == 1, 'Fare'].sum()
print("Total Fare for passengers in first class: ", first_class_fare)

Total Fare for passengers in first class:  18177.4125

In [ ]:
# 3 : Subset for passengers in second and third class (Pclass = 2 & Pclass = 3)

second_class_fare = df.loc[df['Pclass'] == 2, 'Fare'].sum()
print("Total Fare for passengers in second class: ", second_class_fare)

third_class_fare = df.loc[df['Pclass'] == 3, 'Fare'].sum()
print("Total Fare for passengers in third class: ", third_class_fare)

print("-------------------------------------------------")

second_third_class_fare = df.loc[df['Pclass'].isin([2, 3]), 'Fare'].sum()
print("Total Fare for passengers in second and third class: ", second_third_class_fare)

Total Fare for passengers in second class:  3801.8417
Total Fare for passengers in third class:  6714.6951
-------------------------------------------------
Total Fare for passengers in second and third class:  10516.536799999998

In [ ]:
# 4 : Combine fare totals from first, second and third classes into a list

fare_totals = [total_fare, first_class_fare, second_class_fare, third_class_fare]
print("List of fare totals: ", fare_totals)

List of fare totals:  [28693.9493, 18177.4125, 3801.8417, 6714.6951]

In [ ]:
# 5 : Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class

first_proportion = first_class_fare / total_fare
second_proportion = second_class_fare / total_fare
third_proportion = third_class_fare / total_fare

print("--Proportion of fare revenue by class--")
print("First class: ",first_proportion)
print("Second class: ",second_proportion)
print("Third class: ",third_proportion)

# proportion_by_class = [total / total_fare for total in fare_totals]
# print("Proportion of fare revenue by class: ", proportion_by_class)

--Proportion of fare revenue by class--
First class:  0.6334928771899656
Second class:  0.1324962855496507
Third class:  0.23401083726038366

In [ ]:
# What percent of the total fare revenue came from each passenger class?

print("Percentage proportion of total fare from each passenger class")

first_class_proportion_percent  = first_proportion * 100
print("First class proportion: ", first_class_proportion_percent, "%")

second_class_proportion_percent  = second_proportion * 100
print("Second class proportion: ", second_class_proportion_percent, "%")

third_class_proportion_percent  = third_proportion * 100
print("Third class proportion: ", third_class_proportion_percent, "%")

Percentage proportion of total fare from each passenger class
First class proportion:  63.349287718996564 %
Second class proportion:  13.24962855496507 %
Third class proportion:  23.401083726038365 %

**What percent of the total number of passengers on the Titanic belonged to each age group
(e.g., child, adult, senior)?

In [ ]:
import pandas as pd

df = pd.read_csv("/content/drive/MyDrive/Concept&Tech-AI/Titanic-Dataset.csv")

df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
# 1 : Create new column 'Age group' and categorize

# function to categorize the age group
def categorize_age(age):
    if age < 18:
        return "Child"
    elif age < 65:
        return "Adult"
    else:
        return "Senior"

# Create a new column 'age group'
df["Age Group"] = df["Age"].apply(categorize_age)

# Display the updated DataFrame with the new column
print(df[["Age", "Age Group"]])

      Age Age Group
0    22.0     Adult
1    38.0     Adult
2    26.0     Adult
3    35.0     Adult
4    35.0     Adult
..    ...       ...
886  27.0     Adult
887  19.0     Adult
888   NaN    Senior
889  26.0     Adult
890  32.0     Adult

[891 rows x 2 columns]

In [ ]:
# Updated dataframe with new column 'Age Group'
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age Group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Adult
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Adult
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Senior
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Adult
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Adult

In [ ]:
# 2 : Calculate total number of passengers

total_passengers = len(df)
print("Total number of passengers: ", total_passengers)

Total number of passengers:  891

In [ ]:
# 3 : Count the number of passengers in each age group
age_group_counts = {
    "Child": (df["Age Group"] == "Child").sum(),
    "Adult": (df["Age Group"] == "Adult").sum(),
    "Senior": (df["Age Group"] == "Senior").sum(),
}

print("Number of passengers in each age group: \n", age_group_counts)

Number of passengers in each age group:
 {'Child': 113, 'Adult': 590, 'Senior': 188}

In [ ]:
# 4 : Divide the count of each age group by the total number of passengers

child_count_proportion = age_group_counts['Child'] / total_passengers
print("Child Proportion: ",child_count_proportion)

adult_count_proportion = age_group_counts['Adult'] / total_passengers
print("Adult Proportion: ", adult_count_proportion)

senior_count_proportion = age_group_counts['Senior'] / total_passengers
print("Senior Proportion: ", senior_count_proportion)

Child Proportion:  0.12682379349046016
Adult Proportion:  0.6621773288439955
Senior Proportion:  0.21099887766554434

In [ ]:
# 5 : Display proportion as a percentage

child_count_proportion_percent = child_count_proportion * 100
print("Child Proportion: ",child_count_proportion_percent,"%")

adult_count_proportion_percent = adult_count_proportion * 100
print("Adult Proportion: ", adult_count_proportion_percent,"%")

senior_count_proportion_percent = senior_count_proportion * 100
print("Senior Proportion: ", senior_count_proportion_percent,"%")

Child Proportion:  12.682379349046016 %
Adult Proportion:  66.21773288439955 %
Senior Proportion:  21.099887766554435 %